body{text-align: centre;
     background-color:steelblue;
}

h1{background: lavender; 
   opacity: 0.75;
}

p,
li{color: whitesmoke !important;
}

h3{color: mintcream;
}

ul{color: darkslateblue!important;
     background: snow;
}
