body{background-color:steelblue;
}

head{font-family:Helvetica;
     background-color: dimgray;
}

h1{font-family: Verdana;
   color: snow;
   background-color: dimgray;
}

p,
li{color: whitesmoke;
}

h3{color: mintcream;
}

